datadog:
  logs:
    enabled: true
    containerCollectAll: true
agents:
  enabled: false
clusterAgent:
  enabled: true
  metricsProvider:
    enabled: true
  env:
    - name: DD_EKS_FARGATE
      value: "true"
  confd:
    http_check.yaml: |-
      cluster_check: true
      init_config:
      instances:
      %{ for url in http_check_urls }
        - name: ${url}
          tag:
            env: ${environment}
      %{ endfor ~}
